{% load post_tags %}

{% for notification in notifications %}
    {% if notification.type == 'FC' %}
        <a href="{% url 'profile' notification.hook_id %}">
            <li class="list-group-item" style="background-color: {% if notification.is_read %}green {% else %} blue {% endif %}">
                <h2>{{ notification }}</h2>
                <p>{{ notification.body }}</p>
                <p>{{ notification.created_at }}</p>
            </li>
        </a>
    {% elif notification.type == 'NP' %}
        <a href="" data-bs-toggle="modal" data-bs-target="#postModal-{{notification.hook_id}}">
            <li class="list-group-item" style="background-color: {% if notification.is_read %}green {% else %} blue {% endif %}">
                <h2>{{ notification }}</h2>
                <p>{{ notification.body }}</p>
                <p>{{ notification.created_at }}</p>
            </li>
        </a>
        {% get_post_with_comments notification.hook_id user %}
    {% endif %}
{% endfor %}