<div id="posts">
    {% for post in posts %}
        <p>dududuududuududu</p>
        <div class="post">
            <h4>Author: {{ post.post_user }}</h4>
            <p>Created at: {{ post.post_created_at }}</p>
            <h3>{{ post.post_title }}</h3>
            <p>{{ post.post_content }}</p>
            <br><br>
            <p>likes: {{ post.post_likes}}</p>
            <p>comments: {{ post.post_comments }}</p>
            <p>views: {{ post.post_views }}</p>
        </div>
    {% endfor %}
</div>
    