{% load static %}
<ul>
    {% if friend_requests|length == 0 %}
        <h4>No invites received</h4>

    {% else %}
        {% for friend_request in friend_requests %}
            <div class="card" style="margin-bottom: 15px;"> <!-- profile images to be added here in the future-->
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="btn btn-light" href="{% url 'profile' friend_request.from_user.id %}">
                        {{ friend_request.from_user }}</a>
                    </h5>
                    <p class="card-text">Received Friends Invite</p>
                    <a id="accept-button" href="#" from-who="{{ friend_request.from_user }}" to-who="{{ friend_request.to_user }}" class="btn btn-primary">Accept</a>
                    <p id="accept-status"></p>
                    <a id="decline-button" href="#" class="btn btn-primary">Decline</a>
                </div>
            </div>

        {% endfor %}
    {% endif %}
</ul>

<script>
    document.getElementById('accept-button').addEventListener('click', function() {
        var fromWho = this.getAttribute('from-who');
        var toWho = this.getAttribute('to-who');
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "friendship_accepted" %}');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                document.getElementById('accept-status').innerText = response.message;
                if (response.status === 'ok') {
                    document.getElementById('accept-button').style.display = 'none';
                }
            } else {
                document.getElementById('accept-status').innerText = 'Błąd podczas akceptowania znajomego.';
            }
        };
        xhr.send('fromWho=' + encodeURIComponent(fromWho)+ '&toWho=' + encodeURIComponent(toWho));
    });
    </script>