{% load static %}
<ul>
    {% if friend_requests|length == 0 %}
        <li>No friends yet</li>

    {% else %}
        {% for friend_request in friend_requests %}
            {% if friend_request.to_user == request.user.id %}
                <li><a class="btn" href="{% url 'profile' friend_request.from_user.id %}">{{ friend_request.from_user }}</a></li>
            {% else %}
                <li><a class="btn" href="{% url 'profile' friend_request.to_user.id %}">{{ friend_request.to_user }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>