{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My View</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style_home.css' %}">
</head>
<body>
    {% block template %}
    {% include 'home/base/banner.html' %}
    {% endblock %}

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <!--
    <main>
        <section id="post">
            <div id="post-header">
                <h2>John Doe</h2>
            </div>
            <div id="post-content">
                <img src="{% static 'home/img/man.jpg' %}" alt="Beach Photo">
            </div>
            <div id="post-footer">
                <button id="post-button">Like</button>
                <button id="post-button">Comment</button>
                <button id="post-button">Share</button>
            </div>
        </section>
        
        <section id="post">
            <div id="post-header">
                <h2>Jane Smith</h2>
            </div>
            <div id="post-content">
                <img src="{% static 'home/img/woman.jpg' %}" alt="Beach Photo">
            </div>
            <div id="post-footer">
                <button>Like</button>
                <button>Comment</button>
                <button>Share</button>
            </div>
        </section>
    </main> 
    -->
    
</body>
</html>