{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My View</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
</head>
<body>
    <banner>
        <div class="logo">
            <img src="{% static 'home/img/monkee.jpg' %}" alt="logo" style="width: 113px; height: 40px;">
        </div>
        <div class="search">

        </div>
        <div class="main_page">

        </div>
        <div class="friends_list">

        </div>
        <div class="notification">

        </div>
        <div class="account">

        </div>
    </banner>
    <!--
    <main>
        <section class="post">
            <div class="post-header">
                <h2>John Doe</h2>
            </div>
            <div class="post-content">
                <img src="{% static 'home/img/man.jpg' %}" alt="Beach Photo">
            </div>
            <div class="post-footer">
                <button class="post-button">Like</button>
                <button class="post-button">Comment</button>
                <button class="post-button">Share</button>
            </div>
        </section>
        
        <section class="post">
            <div class="post-header">
                <h2>Jane Smith</h2>
            </div>
            <div class="post-content">
                <img src="{% static 'home/img/woman.jpg' %}" alt="Beach Photo">
            </div>
            <div class="post-footer">
                <button>Like</button>
                <button>Comment</button>
                <button>Share</button>
            </div>
        </section>
    </main> 
    -->
    
    <script src="{% static 'home/script.js' %}"></script>
</body>
</html>