{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My View</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style_profile.css' %}">
</head>
<body>
    <banner>
        <div class="logo">
            <img src="{% static 'home/img/monkee.jpg' %}" alt="logo" style="width: 113px; height: 40px;">
        </div>
        <div class="search">

        </div>
        <div class="main_page">

        </div>
        <div class="friends_list">

        </div>
        <div class="notification">

        </div>
        <div class="account">

        </div>
    </banner>
    <user_page>
        <div class="user_profile"></div>
            <div class="profile_picture">
                <img src="{% static 'home/img/man.jpg' %}" alt="Profile Picture">
            </div>
            <div class="profile_info">
                <h1>{{customer.name}} {{customer.surname}}</h1>
                <p>Date of birth: {{customer.date_of_birth}}</p>
                <p>Email: {{customer.email}}</p>
                <p>Account created: {{customer.date_created}}</p>
            </div>
        </div>
    </user_page>

    <script src="{% static 'home/script.js' %}"></script>
</body>
</html>
