{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My View</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style_profile.css' %}">
</head>
<body>
    {% block template %}
    {% include 'home/base/banner.html' %}
    {% endblock %}
    
    <user_page>
        <div class="user_profile"></div>
            <div class="profile_picture">
                <img src="{% static 'home/img/man.jpg' %}" alt="Profile Picture">
            </div>
            <div class="profile_info">
                <h1>{{user.name}} {{user.surname}}</h1>
                <p>Date of birth: {{user.date_of_birth}}</p>
                <p>Email: {{user.email}}</p>
                <p>Account created: {{user.date_joined}}</p>
            </div>
        </div>
    </user_page>

    <script src="{% static 'home/script.js' %}"></script>
</body>
</html>
