{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My View</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style_profile.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style_banner.css' %}">
</head>
<body>
    {% block template %}
    {% include 'home/base/banner.html' %}
    {% endblock %}
    
    <user_page>
        <div id="user_profile"></div>
            <div id="profile_picture">
                <img src="{% static 'home/img/man.jpg' %}" alt="Profile Picture">
            </div>
            <div id="profile_info">
                <h1>{{user.name}} {{user.surname}}</h1>
                <h5>{{user.bio}}</h5>
                <p>Date of birth: {{user.date_of_birth}}</p>
                <p>Email: {{user.email}}</p>
                <p>Account created: {{user.date_joined}}</p>
            </div>
        </div>
    </user_page>
    <a id="edit_profile" class="btn btn-primary" href="{% url 'profileEdit' %}">Edit Profile</a>

</body>
</html>
